.gallery.halfviewport {
    display: flex;
    flex-wrap: wrap;
}
.gallery.halfviewport.site-img { width: 50%;
height: auto;
display: block;
justify-content: center;
align-items: center;
object-fit: cover;}