* {margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body {
    height: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery.halfviewport {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.gallery.halfviewport.site-img { width: 50%;
height: 50vh;
width: 50vw;
display: block;

object-fit: cover;}